img {
  width: 100%;
}
.win {
  color: green;
}

.loss {
  color: red;
}

.date {
  font-style: italic;
}
.landing {
  position: relative;
  /* background: url("./img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.summ-thumbnail {
  width: 55%;
}
.statHeader {
  font-weight: bold;
  font-size: 14px;
}
.statResult {
  font-weight: normal;
  font-size: 12px;
}
.scorePM {
  font-size: 10px;
}

.centerText {
  text-align: center;
}

.red {
  color: red;
}

.runeSize {
  width: 15%;
  height: 30%;
}

.champName {
  font-size: 20px;
  font-style: italic;
  text-align: left;
  color: rgba(0, 88, 130, 1);
}
